
/* * {
    border: red 1px solid;
} */


body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Nav-Bar CSS */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    margin: none;
    height: 76px;
}

.logo {
    padding: 0px 50px 0px 50px;
}

.nav-placeholder {
    height: 76px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
    display: block;
    margin: 0;
    background-color: white;
    
}

.right-nav {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 0px 100px;
}

.right-nav a {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.right-nav button {
    color: #89FAFC;
    background-color: rgba(24,59,84,1);
    border-radius: 100px;
    width: 165px;
    height: 44px;
    border: none;
    font-weight: bold;
}

.announcement-bar {
    display: block;
    margin-top: 76px;
    text-align: center;
    font-size: 15px;
    color: lightgray;
    background-color: rgba(119,19,63,1);
}

.announcement-bar a {
    color: gray;
}

.header img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
}

.header-container {
    position: absolute;
    top: 420px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    display: block;
}

.header-container h2 {
    font-size: 50px;
}

.header-container p {
    font-size: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.button-container .left-btn {
    border: none;
    border-radius: 100px;
    width: 147px;
    height: 56px;
    background-color: rgba(24,59, 84, 1);
    color: #89FAFC;
    font-weight: bold;
}

.button-container .right-btn {
    border: none;
    border-radius: 100px;
    width: 147px;
    height: 56px;
    background-color: rgba(255, 255, 255, 1);
    color: #183B54;
    font-weight: bold;
}

.selector-container {
    width: 100%;
    display: flex;
    height: 390px;
    flex-direction: row;
    justify-content: center;
}

.website {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 320px;
    height: 390px;
    border: 1px black solid;
    
}

.website img {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

.registry {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 320px;
    height: 390px;
    border: 1px black solid;
}

.registry img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
}

.venues-vendors {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 320px;
    height: 390px;
    border: 1px black solid;
}

.venues-vendors img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
}

.invites {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 320px;
    height: 390px;
    border: 1px black solid;
}